!!!

%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{name: 'author', content: data.meta.author }
    %meta{name: 'description', content: data.meta.description }
    %meta{name: 'keywords', content: data.meta.keywords.join(', ') }
    %meta{name: 'referrer', content: data.meta.referrer }
    %title= current_page.data.title + ' | Jacob Patterson' || 'Jacob Patterson'
    = stylesheet_link_tag "site"
  %body
    %section.hero.is-primary
      .hero-body.is-centered
        %a{:href => '/index.html'}
          .container
            %h1.title Jacob Patterson
            %h2.subtitle Computer & Information Science Student Creating Things
    %nav.navbar.is-primary
      .container
        .navbar-brand
          %h4.title.is-4.navbar-item.is-marginless= current_page.data.title
          .navbar-burger
            %span
            %span
            %span
        .navbar-menu
          .navbar-end
            = link_to 'Home', '/index.html', class: 'navbar-item'
            = link_to 'Projects', '/projects.html', class: 'navbar-item'
            .navbar-item.has-dropdown.is-hoverable
              %a.navbar-link Find Me

              .navbar-dropdown
                = link_to 'LinkedIn', 'https://www.linkedin.com/in/jacobpa', class: 'navbar-item'
                = link_to 'Github', 'https://github.com/jacobpa', class: 'navbar-item'
    
    = yield

    = javascript_include_tag 'site'